@import url(https://fonts.googleapis.com/css?family=Amethysta);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Duru+Sans);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:700);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic);

.statsBlock {
	border-style: solid;
	border-radius: 4px;
	border-color: rgb(190, 0, 0);
	border-width: 2px;
	background-color: #FDF1DC;
	display: block;
	width: 150px;
	font: 0.8em Noto Sans;
}

.spaceTBody {
	content: "buh";
	background: none;
	height: 10px;
	display: block;
}

.customHr {
    width: 80%;
    font-size: 1px;
    color: rgba(0, 0, 0, 0);
    line-height: 3px;
	background-color: rgb(128, 0, 0);
    margin-top: 2px;
    margin-bottom: 2px;
	margin-left: 3px;
	margin-right: 3px;
}

.monsterNameInput {
	font: small-caps 700 1.2em Libre Baskerville;
	color: rgb(100, 0, 0);
	text-shadow:0px 1px 1px rgb(0, 0, 0);
}

.monsterNameInput:placeholder-shown {
	font: small-caps 700 1.2em Libre Baskerville;
	color: rgb(0, 0, 100);
	text-shadow: 0px 0px 0px rgb(0, 0, 0);
}

input[type='checkbox'] {
	vertical-align: middle;
}

.monsterFeatLabel {
	display:inline-block;
	vertical-align:middle;
}
